<h3 class="text-success">Detalji studenta</h3>
@{
    var student = (SeminarskiTemp.EntityModels.Student)ViewData["student"];
    var opstina = (List<SeminarskiTemp.EntityModels.Opstina>)ViewData["opstine"];
    var fakulteti = (List<SeminarskiTemp.EntityModels.Fakultet>)ViewData["fakulteti"];

}
<style>
    form input, select {
        margin: 2px 10px 10px 0px;
        width: 400px;
        padding: 5px;
        border: none;
    }
</style>
<form>
    <div>
        <label>Ime</label><br />
        <input type="text" name="Ime" value="@student.Ime" readonly />
    </div>

    <div>
        <label>Prezime</label><br />
        <input type="text" name="Prezime" value="@student.Prezime" readonly />
    </div>
    <div>
        <label>Datum Rodjenja</label><br />
        <input type="text" name="Datum" value="@student.DatumRodjenja.ToShortDateString()" readonly />
    </div>
    <div>
        @foreach (var item in opstina)
        {
            if (item.ID == student.OpstinaID)
            {
                <label>Opstina</label><br />
                <input type="text" name="Opstina" value="@item.Naziv" readonly />
                break;
            }
        }


    </div>
    <div>
        @foreach (var item in fakulteti)
        {
            if (item.ID == student.FakultetID)
            {
                <label>Fakultet</label><br />
                <input type="text" name="Fakultet" value="@item.Naziv" readonly />
                break;
            }
        }
    </div>

    <div>
        
        <label>Broj Indeksa</label><br />
        <input type="text" name="BrojIndeksa" value="@student.BrojIndeksa" readonly />

    </div>

</form>