@model StudentStanovanjeVM
@{
    Layout = null;

}

<table class="table">
    <thead>
        <tr>
            <th>Ime Studenta</th>
            <th>Broj Sobe</th>
            <th>Akademska godina</th>
            <th>Cimeri</th>
            <th>Uredi</th>

        </tr>
    </thead>
    <tr>
        <th>@Model.ImeStudenta</th>
        <th>@Model.BrojSobe</th>
        <th>@Model.AkademskaGodina</th>
        <th>
            @{
                foreach (var item in Model.cimeri)
                {
                    @item.Imecimera<br />
                }
            }
        </th>
        <th><button class="btn btn-primary" onclick=UrediStanovanje(@Model.ID)>Uredi</button></th>
    </tr>

</table>